*{
    padding: 0;
    margin: 0;
}

/* navbar top */
.nav-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}


.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-link i img:hover{
background-color: blue;
border-radius: 5px;
}

@media screen and (max-width:400px) {
    .social-link i img{
        width: 20px;
    }
    
}

.logo h3{
    font-weight: bold;
}

@media screen and (max-width :400px){
    .logo h3 {
        font-size: 20px;
    }
    
}

.icons i img{
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .icons i img{
        width: 20px;
    }
    
}


.main-contener{
    width: 100%;
    height: 90vh;
    background-image: url(photos/aysha1111.jpg);
    background-size: cover;
    background-position: 70%;
}

#nav-color{
    background-color: red;

}
.navbar-nav{
    margin: auto;
}

.nav-link{
    margin-left: 30px;
    color: black;
    font-weight: bold;
}


.nav-link:hover{
    color: green;
    transition: 0.5s ease ;
}


/* navbar */
.content{
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 20px;
}
.content h1{
    font-size: 50px;
}

#btn1 button{
    width: 150px;
    height: 32px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 3px;
    font-weight: bold;
}


#btn1 button:hover{
    background-color: rgb(5, 86, 5);

}

@media screen  and (max-width:420px){ 
    .content h1{
        font-size: 30px;
    }
}

/* CARD1 */

#btn2 button{
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}


#btn2 button:hover{
    background-color: rgb(238, 224, 208);
}
/* CARD1 */


/* CARD2 */
#tpc{
   box-shadow: 0 0 5px black; 
   transition: 0.5s ease;
   cursor: pointer;
}
/* CARD2 */

#tpc:hover{
    transform: translateY(-10px);
}



/* card3 */
.card{
    margin-top: 40px;
}

.card img{
    margin-top: 0px;

}

#c p{
    font-weight: bold;
}


.btn3{
    text-align: center;
}
.btn3 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1.5 solid black;
    transition: 0.5s ease;
    cursor: pointer;

}
.btn3 button:hover{
    background-color: rgba(238, 224, 208);

}


@media screen and (max-width:895px) {
    .btn3{
        width: 100px;
    }
    
    
}

/* card3 */

.btn4 button{
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1.5px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn4 button:hover{
    background-color: rgba(238, 224, 208);
}



#footer{
    width: 100%;
    background-color: rgb(63, 61, 61);
    margin-top: 100px;
}
#footer h1{
    color: white;
    padding-top: 30px;

}

#footer p{
    color: white;
}


.icons i{
    color: rgb(253, 253, 253);
    font-size: 30px;
    cursor: pointer;
}

.copyright{
    color: white;
    margin-top: 20px;
}

.credite{
    color: white;
    
}